
    .header {
        height: 120px;
        background: #1a75cf;
        width: 100%;
    }

    body {
        min-width: 575.98px;
    }

    .btn-group{
        margin-top: 40px;
        float: right;
    }

    

    
