
    .footer {
        height: 120px;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
        position: relative;
        left: 0;
        bottom: 0;
        background: #007bff;
        align-content: center;
        text-align: center;
        margin-top: 10px;
    }

    body {
        min-width: 575.98px;
    }
