<form [formGroup]="audienciaForm" (ngSubmit)="guardarAudiencia()">
    <div class="row">
        <div class="col-md-12 border-bottom">
            <h5>Detalles del procedimiento Judicial/Jurisdiccional</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="sociedad"><strong>Sociedad: </strong></label>
                        <label id="sociedad" name="sociedad">{{ registroDemanda.sociedad }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="determinante"><strong>Determinante: </strong></label>
                        <label id="determinante" name="determinante">{{ registroDemanda.determinante.nombreDeterminante }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="expJuicio"><strong>Expediente Juicio: </strong></label>
                        <label id="expJuicio" name="expJuicio">{{ registroDemanda.expediente }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="despacho"><strong>Despacho: </strong></label>
                        <label id="despacho" name="despacho">{{ registroDemanda.despacho }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="reclamo"><strong>Reclamo:</strong></label>
                        <label id="reclamo" name="reclamo">{{ registroDemanda.motivoDemanda }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="fechaDemanda"><strong>Fecha Demanda: </strong></label>
                        <label id="fechaDemanda" name="fechaDemanda">{{ registroDemanda.fechaDemanda }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-12">
                        <label for="oficioResolucion"><strong>Oficio Resolución Admnistrativa: </strong></label>
                        <label id="oficioResolucion" name="oficioResolucion">{{ registroDemanda.oficio }}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="autoridad"><strong>Autoridad: </strong></label>
                        <label id="autoridad" name="autoridad">{{ registroDemanda.autoridadImpositora.razonSocial }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="tribunalJuzgado"><strong>Tribunal o Juzgado:</strong></label>
                        <label id="tribunalJuzgado" name="tribunalJuzgado">{{ registroDemanda.autoridadMateria }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="importeHistorico"><strong>Importe Histórico del Juicio:</strong></label>
                        <label id="importeHistorico" name="importeHistorico">{{ registroDemanda.importeHistorico }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="pago"><strong>Pago (si/no): </strong></label>
                        <label id="pago" name="pago">{{ registroDemanda.pagado }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="fianza"><strong>fianza (si/no): </strong></label>
                        <label id="fianza" name="fianza">{{ registroDemanda.garantizado }}</label>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-12">
                        <label for="embargo"><strong>Embargo (si/no): </strong></label>
                        <label id="embargo" name="embargo">{{ registroDemanda.embargo }}</label>
                    </div>
                </div>
            </div>
        </div>  
        <div class="col-md-4">
            <div class="col-md-12">
                <div class="form-group form-row">
                    <div class="col-4">
                            <label for="fechaSuspension">Fecha de Suspensión:</label>
                    </div>
                    <div class="col-8">
                            <input 
                            class="form-control"
                            type="date"
                            id="fechaSuspension"
                            name="fechaSuspension"
                            formControlName="fechaSuspension">
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-4">
                        <label for="resolucionSuspension">Resolución de Suspensión:</label>
                    </div>
                    <div class="col-8">
                        <select 
                        name="resolucionSuspension" 
                        id="resolucionSuspension"
                        class="form-control"
                        formControlName="resolucionSuspension">
                            <option 
                            *ngFor="let resolucion of resoluciones"
                            [value]="resolucion">{{ resolucion }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-4">
                        <label for="sentenciaTFJFA">Sentencia TFJFA JZ o TCADMON:</label>
                    </div>
                    <div class="col-8">
                        <textarea 
                        type="text"
                        id="sentenciaTFJFA"
                        name="sentenciaTFJFA"
                        class="form-control"
                        rows="2"
                        formControlName="sentenciaTFJFA"
                        ></textarea>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-4">
                        <label for="sentenciaDefinitiva">Sentencia Definitiva:</label>
                    </div>
                    <div class="col-8">
                        <textarea 
                        type="text"
                        id="sentenciaDefinitiva"
                        name="sentenciaDefinitiva"
                        class="form-control"
                        rows="2"
                        formControlName="sentenciaDefinitiva"
                        [disabled]="registroDemanda.sentenciaTFJFA != null
                        || registroDemanda.sentenciaDefinitiva == null"></textarea>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-4">
                        <label for="resultadoFinal">Resultado Final:</label>
                    </div>
                    <div class="col-8">
                        <textarea 
                        type="text"
                        id="resultadoFinal"
                        name="resultadoFinal"
                        class="form-control"                                
                        rows="2"
                        formControlName="resultadoFinal"
                        [disabled]="registroDemanda.sentenciaDefinitiva != null
                        || registroDemanda.resultadoFinal == null"></textarea>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-4">
                        <label for="estadoFinal">Estado Final:</label>
                    </div>
                    <div class="col-8">
                        <textarea 
                        type="text"
                        id="estadoFinal"
                        name="estadoFinal"
                        class="form-control"                                
                        rows="2"
                        formControlName="estadoFinal"
                        [disabled]="registroDemanda.resultadoFinal != null
                        || registroDemanda.estadoFinal == null"></textarea>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <div class="btn-group">
                            <button 
                            class="btn btn-outline-dark btn-continuar" 
                            type="button">Anterior</button>
                            <button 
                            type="submit"
                            class="btn btn-warning btn-continuar">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12 border-bottom">
        <h5>Audiencias</h5>
    </div>
    <div class="col-md-12">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <button 
            class="btn btn-primary"
            type="button"
            data-toggle="modal"
            data-target="#audienciaModal"
            >Agregar Audiencia</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                            <th>Opciones</th>
                            <th>Tribunal o Juzgado</th>
                            <th>Fecha de Audiencia</th>
                            <th>Hora</th>
                            <th>Estado</th>
                            <th>Factibilidad</th>
                            <th>Etapa Procesal</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let audiencia of registroDemanda.audiencias">
                            <td></td>
                            <td>{{ audiencia.tribunalJuzgado }}</td>
                            <td>{{ audiencia.fecha }}</td>
                            <td>{{ audiencia.hora }}:{{ audiencia.minutos }}</td>
                            <td>{{ audiencia.estado }}</td>
                            <td>{{ audiencia.factibilidad }}</td>
                            <td>{{ audiencia.etapaProcesal }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="audienciaModal" tabindex="-1" role="dialog" aria-labelledby="audienciaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="audienciaModalLabel">Agregar Audiencia</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="registroAudiencia" (ngSubmit)="addAudiencia()">
                <div class="form-group form-inline">
                  <label for="fechaAudiencia" class="col-4 col-form-label">Fecha:</label>
                  <input 
                  type="date" 
                  class="col-8 form-control" 
                  id="fechaAudiencia"
                  formControlName="fechaAudiencia">
                </div>
                <div class="form-group form-inline">
                    <label for="horaAudiencia" class="col-4 col-form-label">Hora:</label>
                    <select 
                    name="horaAudiencia"
                    id="horaAudiencia"
                    class="col-4 form-control"
                    formControlName="horaAudiencia">
                        <option 
                        *ngFor="let hora of horas"
                        value="hora">{{ hora }}</option>
                    </select>
                    <select 
                    name="minutoAudiencia"
                    id="minutoAudiencia"
                    class="col-4 form-control"
                    formControlName="minutoAudiencia">
                        <option 
                        *ngFor="let minuto of minutos"
                        value="minuto">{{ minuto }}</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label for="estadoAudiencia" class="col-4 col-form-label">Estado:</label>
                    <select 
                    class="col-8 form-control"
                    name="estadoAudiencia" 
                    id="estadoAudiencia"
                    formControlName="estadoAudiencia">
                        <option 
                        *ngFor="let estado of estados"
                        value="estado">{{ estado }}</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label for="factibilidadAudiencia" class="col-4 col-form-label">Factibilidad:</label>
                    <select 
                    class="col-8 form-control"
                    name="factibilidadAudiencia" 
                    id="factibilidadAudiencia"
                    formControlName="factibilidadAudiencia">
                        <option 
                        *ngFor="let factibilidad of factibilidades"
                        value="factibilidad">{{ factibilidad }}</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label for="etapaAudiencia" class="col-4 col-form-label">Etapa Procesal:</label>
                    <select 
                    class="col-8 form-control"
                    name="etapaAudiencia" 
                    id="etapaAudiencia"
                    formControlName="etapaAudiencia">
                        <option 
                        *ngFor="let etapaProcesal of EtapasProcesales"
                        value="etapaProcesal">{{ etapaProcesal }}</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label for="tribunalJuzgado" class="col-4 col-form-label">Tribunal o Juzgado:</label>
                    <input 
                    type="text" 
                    id="tribunalJuzgado" 
                    name="tribunalJuzgado"
                    class="col-8 form-control"
                    formControlName="tribunalJuzgado">
                </div>
                <div class="form-group form-inline">
                    <label for="numExpediente" class="col-4 col-form-label">Número de Expediente:</label>
                    <input 
                    type="text" 
                    id="numExpediente" 
                    name="numExpediente"
                    class="col-8 form-control"
                    formControlName="numExpediente">
                </div>
                <div class="form-group form-inline">
                    <label for="observaciones" class="col-4 col-form-label">Observaciones:</label>
                    <textarea 
                    class="col-8 form-control"
                    name="observaciones" 
                    id="observaciones" 
                    name="observaciones" 
                    rows="3"
                    formControlName="observaciones"></textarea>
                </div>
              </form>
            <div class="modal-footer">
                <button type="button"
                class="btn btn-warning"
                data-dismiss="modal"
                (click)="addAudiencia()">Agregar Audiencia</button>
                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>