<form  #paeForm="ngForm" (ngSubmit)="avanzaPAE()">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 border-bottom">
                <h5>Datos del Procedimiento Administrativo de Ejecución</h5>
            </div>
            <div class="col-md-12">
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="pae">PAE:</label>
                            </div>
                            <div class="col-8 form-inline">
                                <input 
                                type="checkbox"
                                class="form-control"
                                name="paeCheck"
                                id="paeCheck"
                                [(ngModel)]='registroDemanda.paeChecked'
                                #paeCheck="ngModel"
                                >
                                <label class="checkLabel">Sí</label>
                            </div>
                </div>
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="clausura">Clausura:</label>
                            </div>
                            <div class="col-8 form-inline">
                                <input 
                                type="checkbox"
                                name="clausura"
                                id="clausura"
                                class="form-control"
                                [disabled]=!registroDemanda.paeChecked
                                [(ngModel)]="registroDemanda.clausura"
                                #clausura="ngModel">
                                <label class="checkLabel">Sí</label>
                            </div>
                </div>
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="embargo">Embargo:</label>
                            </div>
                            <div class="col-8 form-inline">
                                <input 
                                type="checkbox"
                                name="embargo"
                                id="embargo"
                                class="form-control"
                                [disabled]=!registroDemanda.paeChecked
                                [(ngModel)]="registroDemanda.embargo"
                                #embargo="ngModel">
                                <label class="checkLabel">Sí</label>
                            </div>
                </div>
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="tipoEmbargo">Tipo de Embargo:</label>
                            </div>
                            <div class="col-8">
                                <select 
                                name="tipoEmbargo" 
                                id="tipoEmbargo"
                                class="form-control"
                                [ngModel]="registroDemanda.tipoEmbargo"
                                [disabled]=!registroDemanda.embargo
                                #tipoEmbargo="ngModel"
                                >
                                    <option 
                                    *ngFor="let tipoEmbargo of tiposEmbargo"
                                    value="tipoEmbargo">{{ tipoEmbargo }}</option>
                                </select>
                            </div>
                </div>
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="fechaNotificacion">Fecha de Embargo:</label>
                            </div>
                            <div class="col-8">
                                <input 
                                type="date"
                                class="form-control"
                                id="fechaEmbargo"
                                name="fechaEmbargo"
                                [ngModel]="registroDemanda.fechaEmbargo"
                                [disabled]=!registroDemanda.embargo
                                #fechaEmbargo="ngModel"
                                >
                            </div>
                </div>
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="cancelaEmbargo">Cancelación de Embargo:</label>
                            </div>
                            <div class="col-8 form-inline">
                                <input 
                                type="checkbox"
                                id="cancelaEmbargo"
                                name="cancelaEmbargo"
                                class="form-control"
                                [ngModel]="registroDemanda.cancelaEmbargo"
                                [disabled]=!registroDemanda.embargo
                                #cancelaEmbargo="ngModel">
                                <label class="checkLabel">Sí</label>
                            </div>
                </div>
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="solRetiroEmbargo">Solicitud Retiro Embargo:</label>
                            </div>
                            <div class="col-8 form-inline">
                                <input 
                                type="checkbox"
                                name="solRetiroEmbargo"
                                id="solRetiroEmbargo"
                                class="form-control"
                                [ngModel]="registroDemanda.solRetiroEmbargo"
                                [disabled]=!registroDemanda.embargo
                                #solRetiroEmbargo="ngModel">
                                <label class="checkLabel">Sí</label>
                            </div>
                </div>
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="remocionDepositaria">Remoción Depositaria:</label>
                            </div>
                            <div class="col-8 form-inline">
                                <input 
                                type="checkbox"
                                id="remocionDepositaria"
                                name="remocionDepositaria"
                                class="form-control"
                                [ngModel]="registroDemanda.remocionDepositaria"
                                [disabled]="!registroDemanda.paeChecked"
                                #remocionDepositaria="ngModel" >
                                <label class="checkLabel">Sí</label>
                            </div>
                </div>
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="pagado">Pagado:</label>
                            </div>
                            <div class="col-8 form-inline">
                                <input 
                                type="checkbox"
                                id="pagado"
                                name="pagado"
                                class="form-control"
                                [ngModel]="registroDemanda.pagado"
                                [disabled]="!registroDemanda.paeChecked"
                                #pagado="ngModel">
                                <label class="checkLabel">Sí</label>
                            </div>
                </div>
                <div class="form-group form-row">
                            <div class="col-4">
                                <label for="garantizado">Garantizado:</label>
                            </div>
                            <div class="col-8 form-inline">
                                <input 
                                type="checkbox"
                                name="garantizado"
                                id="garantizado"
                                class="form-control"
                                [ngModel]="registroDemanda.garantizado"
                                [disabled]="!registroDemanda.paeChecked"
                                #garantizado="ngModel">
                                <label class="checkLabel">Sí</label>
                            </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 border-bottom">
                <h5>Bienes Embargados</h5>
            </div>
            <div class="col-md-12">
                <label>Descripción de Bienes Embargados:</label>
            </div>
            <div class="col-md-12">
                <div class="form-group form-row">
                    <div class="col-3">
                        <input 
                        style="margin-left: 5px;"
                        type="text"
                        id="cantBien"
                        name="cantBien"
                        class="form-control"
                        ngModel
                        #cantBien="ngModel">
                    </div>
                    <div class="col-6">
                        <input 
                        type="text"
                        style="margin-left: 5px;"
                        id="descBien"
                        name="descBien"
                        class="form-control"
                        ngModel
                        #descBien="ngModel">
                    </div>
                    <div class="col-3">
                        <button 
                        type="button" 
                        style="margin-left: 5px;"
                        (click)="agregarBien(cantBien, descBien)" 
                        [disabled]="(!descBien.valid && descBien.touched) && (!cantBien.valid && descBien.touched)"
                        class="btn btn-warning">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-inline">
                <div class="col-2">
                    <label>Cant.</label>
                </div>
                <div class="col-7">
                    <label>Descripción del Bien</label>
                </div>
                <div class="col-3"></div>                        
            </div>
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let bien of registroDemanda.bienesEmbargados; let i = index">
                        <label class="col-2">{{ bien.cantidad }}</label>
                        <label class="col-7">{{ bien.descripcion }}</label>
                        <button 
                        type="button" 
                        (click)="eliminarBien(i)"
                        class="btn btn-sm btn-danger col-3">
                        Eliminar</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>        
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="btn-group">
                    <button 
                    class="btn btn-outline-dark btn-continuar" 
                    type="button"
                    routerLink="../registro">Anterior</button>
                    <button 
                    class="btn btn-warning btn-continuar" 
                    type="submit"
                    [disabled]="(!paeForm.valid && paeForm.untouched)"
                    (click)="guardarPAE()">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</form>