<form [formGroup]="despachoForm" (ngSubmit)="guardarDespacho()">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 border-bottom">
                <h5>Datos del Despacho</h5>
            </div>
            <div class="col-md-12">
                <div class="form-group form-row">
                    <div class="col-4">
                        <label for="autoridadMateria">Autoridad/Materia:</label>
                    </div>
                    <div class="col-8">
                        <select 
                        name="autoridadMateria" 
                        id="autoridadMateria"
                        class="form-control"
                        formControlName="autoridadMat"
                        >
                            <option 
                            *ngFor="let autoridadMateria of autoridadesMaterias"
                            [value]="autoridadMateria">{{ autoridadMateria }}</option>
                        </select>
                        <small 
                        *ngIf="!despachoForm.get('autoridadMat').valid && despachoForm.get('autoridadMat').touched" 
                        class="form-text text-muted">
                        Debes seleccionar una Autoridad/Materia!</small>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-4">
                        <label for="despacho">Despacho:</label>
                    </div>
                    <div class="col-8">
                        <select 
                        name="despacho" 
                        id="despacho"
                        class="form-control"
                        formControlName="despachoControl"
                        (change)="asignaDespacho()">
                            <option 
                            *ngFor="let despacho of despachos; let i = index"
                            [value]="despacho.nombreDespacho">{{ despacho.nombreDespacho }}</option>
                        </select>
                        <small 
                        *ngIf="!despachoForm.get('despachoControl').valid && despachoForm.get('despachoControl').touched" 
                        class="form-text text-muted">
                        Debes seleccionar un Despacho!</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                    <div class="col-md-12 border-bottom">
                        <h5>Abogados</h5>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-12">
                            <ul class="list-group" formArrayName="abogados">
                                    <li *ngFor="let abogado of getAbogadosControls();let i = index"
                                    class="list-group-item" 
                                    [formGroupName]="i">
                                        <label class="inlineAbogados col-11" for="nombreAbogado"><input 
                                        type="checkbox"
                                        id="nombreAbogado"
                                        class="inlineAbogados form-control col-1"
                                        formControlName="selectorAbogado"
                                        >{{ abogados[i].nombre }}</label>
                                    </li>
                            </ul>
                            <small 
                            *ngIf="!abogadosArray.valid && abogadosArray.touched"
                            class="form-text text-muted">
                            Debes seleccionar al menos un Abogado!</small>
                            </div>
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="btn-group">
                    <button 
                    class="btn btn-outline-dark btn-continuar" 
                    type="button" (click)="pestanaAnt()">Anterior</button>
                    <button 
                    class="btn btn-warning btn-continuar"
                    type="submit" 
                    [disabled]="!despachoForm.valid">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade"
#advertenciaAbogado
id="advertenciaAbogado" 
tabindex="-1" 
role="dialog" 
aria-labelledby="advertenciaAbogadoModalLabel" 
aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Advertencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Debes seleccionar al menos un Abogado!!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>