<form>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 border-bottom">
                <h5>Datos del Despacho</h5>
            </div>
            <div class="col-md-12">
                <div class="form-group form-row">
                    <div class="col-4">
                        <label for="autoridadMateria">Autoridad/Materia:</label>
                    </div>
                    <div class="col-8">
                        <select 
                        name="autoridadMateria" 
                        id="autoridadMateria"
                        class="form-control"
                        ngModel>
                            <option 
                            *ngFor="let autoridadMateria of autoridadesMaterias"
                            value="autoridadMateria">{{ autoridadMateria }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-4">
                        <label for="despacho">Despacho:</label>
                    </div>
                    <div class="col-8">
                        <select 
                        name="despacho" 
                        id="despacho"
                        class="form-control"
                        ngModel>
                            <option 
                            *ngFor="let despacho of despachos"
                            value="despacho">{{ despacho }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
                    <div class="col-md-12 border-bottom">
                        <h5>Abogados</h5>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <label class="inlineAbogados col-11" for="nombreAbogado"><input 
                                        type="checkbox"
                                        name="nombreAbogado"
                                        id="nombreAbogado"
                                        class="inlineAbogados form-control col-1"
                                        ngModel>Juana Rodríguez</label>
                                </li>
                                <li class="list-group-item">
                                        <label class="inlineAbogados col-11" for="nombreAbogado"><input 
                                            type="checkbox"
                                            name="nombreAbogado"
                                            id="nombreAbogado"
                                            class="inlineAbogados form-control col-1"
                                            ngModel>Fernando Acosta</label>
                                    </li>
                            </ul>
                        </div>
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="btn-group">
                    <button 
                    class="btn btn-outline-dark btn-continuar" 
                    type="button">Anterior</button>
                    <button class="btn btn-warning btn-continuar"
                    type="submit">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</form>