<form>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 border-bottom">
                <h5>Sentencia o Resolución Final</h5>
            </div>
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <label 
                    class="col-4"
                    for="motivoTermino">Motivo de Término:</label>
                    <select 
                    class="form-control col-8"
                    name="motivoTermino" 
                    id="motivoTermino">
                        <option 
                        *ngFor="let motivo of motivos"
                        value="motivo">{{ motivo }}</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label class="col-4" for="instanciaConclusion">Instancia donde Concluyó la Demanda:</label>
                    <input 
                    class="col-8 form-control"
                    type="text"
                    id="instanciaConclusion"
                    name="instanciaConclusion"
                    ngModel>
                </div>
                <div class="form-group form-inline">
                    <label 
                    class="col-4"
                    for="sentidoTermino">Sentido:</label>
                    <select 
                    class="form-control col-8"
                    name="sentidoTermino" 
                    id="sentidoTermino">
                        <option 
                        *ngFor="let sentido of sentidos"
                        value="sentido">{{ sentido }}</option>
                    </select>
                </div>
                <div class="form-group form-inline">
                    <label class="col-4" for="fechaTermino">Fecha de Término:</label>
                    <input 
                    type="date"
                    class="col-8 form-control"
                    id="fechaTermino"
                    name="fechaTermino"
                    ngModel
                    required>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 border-bottom">
                <h5>Valor de Demanda</h5>
            </div>
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <label class="col-4" for="importeHistorico">Importe Histórico de la Multa:</label>
                    <input 
                    class="col-8 form-control"
                    type="number" 
                    id="importeHistorico" 
                    name="importeHistorico">
                </div>
                <div class="form-group form-inline">
                    <label class="col-4" for="importeActualizado">Importe Actualizado del Juicio:</label>
                    <input 
                    class="col-8 form-control"
                    type="number" 
                    id="importeActualizado" 
                    name="importeActualizado">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group form-inline">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <button class="btn btn-danger btn-continuar">Terminar</button>
                        <button class="btn btn-outline-dark btn-continuar">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>