<div class="row">
    <div class="col-12">    
       <ul class="btn-group btn-group-lg">
            <li>
                <a class="btn btn-primary" routerLink="/litigioAdmvo/registro">1. Registro Demanda</a>
            </li>
            <li>
                <a class="btn btn-primary" routerLink="/litigioAdmvo/pae">2. PAE</a>
            </li>
            <li>
                <a class="btn btn-primary" routerLink="/litigioAdmvo/despacho">3. Selección Despacho</a>
            </li>
            <li>
                <a class="btn btn-primary" routerLink="litigioAdmvo/audiencia">4. Audiencia y/o Suspensión</a>
            </li>
            <li>
                <a class="btn btn-primary" routerLink="litigioAdmvo/resolucion">5. Resolución Final</a>
            </li>
        </ul>
    </div>
</div>
    <router-outlet></router-outlet>