<div class="row">
    <div class="col-12">    
       <ul class="btn-group btn-group-lg">
            <li>
                <a class="btn btn-primary" routerLink="/litigioAdmvo/registro" routerLinkActive="active">1. Registro Demanda</a>
            </li>
            <li>
                <a class="btn btn-primary" routerLink="/litigioAdmvo/pae" routerLinkActive="active" [ngClass]="{disabled: !validaInactivo('registroDemanda')}">2. PAE</a>
            </li>
            <li>
                <a class="btn btn-primary" routerLink="/litigioAdmvo/despacho" routerLinkActive="active" [ngClass]="{disabled: !validaInactivo('registroPae')}">3. Selección Despacho</a>
            </li>
            <li>
                <a class="btn btn-primary" routerLink="litigioAdmvo/audiencia" routerLinkActive="active" [ngClass]="{disabled: !validaInactivo('registroDespacho')}">4. Audiencia y/o Suspensión</a>
            </li>
            <li>
                <a class="btn btn-primary" routerLink="litigioAdmvo/resolucion" routerLinkActive="active" [ngClass]="{disabled: !validaInactivo()}">5. Resolución Final</a>
            </li>
        </ul>
    </div>
</div>
    <router-outlet></router-outlet>